html , body , .page{
    /* height: 100%; */
    text-align: center;
    
}

body{
    background-image: url("/pics/tile.jpg");
    padding-top: 20px;
    /* text-align: center; */
}


#headerText{
    width: 400px;
}

.noteBookArea{
    height: 30%;
    background-image: url(/pics/formbg.jpg);
    text-align: center;
    width: 600px;
    height: 230px;
    padding: 15px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

#missionText{
  width: 450px;
  height: 100px;
  border: none;
  outline: none;
  background: transparent;
  margin: -2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 23px;
}

#missionDate{
  margin: -1px;
}
#missionTime{
  margin-top: 9px;
}

button{
    cursor: pointer;
    margin-top: 5.5px;
}

.noteMissionsArea{
    height: 0%;
    margin: 250px;
    display: inline-block;
    
}

.noteBlock{
    width: 180px;
    height: 250px;
    padding: 3px;
    background-image: url(/pics/notebg.png);
    margin: 5px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    
}



.textInNote {
    overflow:auto;
    padding-top: 2px;
    text-align: left;
    width: 165px;
    height: 135px;
    padding-left: 6px;
    margin-bottom: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: disabled;
    border: none;
    outline: none;
    background: transparent;
}

.dateAndTimeArea{
    width: 165px;
    height: 20px;
    text-align: left;
    padding: 6px;
    /* margin-top: 2px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* display: inline-block; */
}

.xIcon {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    margin-top: 19px;
    float: right;
    margin-bottom: 4px;
    opacity: 0;
}

.noteBlock:hover > .xIcon { opacity:100; }

#fade-in{
    opacity: 1;
    animation-name: fade;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
